LOCATE COMP "board_clk" SITE "A10";
LOCATE COMP "board_rst" SITE "P4";
IOBUF  PORT "board_clk" IO_TYPE=LVCMOS33;
IOBUF  PORT "board_rst" IO_TYPE=LVCMOS33;

LOCATE COMP "leds[0]" SITE "A13";
LOCATE COMP "leds[1]" SITE "A12";
LOCATE COMP "leds[2]" SITE "B19";
LOCATE COMP "leds[3]" SITE "A18";
LOCATE COMP "leds[4]" SITE "B18";
LOCATE COMP "leds[5]" SITE "C17";
LOCATE COMP "leds[6]" SITE "A17";
LOCATE COMP "leds[7]" SITE "B17";
IOBUF  PORT "leds[0]" IO_TYPE=LVCMOS25;
IOBUF  PORT "leds[1]" IO_TYPE=LVCMOS25;
IOBUF  PORT "leds[2]" IO_TYPE=LVCMOS25;
IOBUF  PORT "leds[3]" IO_TYPE=LVCMOS25;
IOBUF  PORT "leds[4]" IO_TYPE=LVCMOS25;
IOBUF  PORT "leds[5]" IO_TYPE=LVCMOS25;
IOBUF  PORT "leds[6]" IO_TYPE=LVCMOS25;
IOBUF  PORT "leds[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "ser_tx" SITE "H2";
LOCATE COMP "ser_rx" SITE "G1";
IOBUF  PORT "ser_tx" IO_TYPE=LVCMOS33;
IOBUF  PORT "ser_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "GBA_VDD"    SITE "A5";
LOCATE COMP "GBA_CLK"    SITE "C2";
LOCATE COMP "GBA_nWR"    SITE "A4";
LOCATE COMP "GBA_nRD"    SITE "B2";
LOCATE COMP "GBA_nCS"    SITE "C5";
LOCATE COMP "GBA_AD[0]"  SITE "D1";
LOCATE COMP "GBA_AD[1]"  SITE "B5";
LOCATE COMP "GBA_AD[2]"  SITE "C1";
LOCATE COMP "GBA_AD[3]"  SITE "B4";
LOCATE COMP "GBA_AD[4]"  SITE "E1";
LOCATE COMP "GBA_AD[5]"  SITE "C4";
LOCATE COMP "GBA_AD[6]"  SITE "D2";
LOCATE COMP "GBA_AD[7]"  SITE "B3";
LOCATE COMP "GBA_AD[8]"  SITE "G5";
LOCATE COMP "GBA_AD[9]"  SITE "A3";
LOCATE COMP "GBA_AD[10]" SITE "H4";
LOCATE COMP "GBA_AD[11]" SITE "D5";
LOCATE COMP "GBA_AD[12]" SITE "H3";
LOCATE COMP "GBA_AD[13]" SITE "E4";
LOCATE COMP "GBA_AD[14]" SITE "H5";
LOCATE COMP "GBA_AD[15]" SITE "D3";
LOCATE COMP "GBA_A[0]"   SITE "F3";
LOCATE COMP "GBA_A[1]"   SITE "C3";
LOCATE COMP "GBA_A[2]"   SITE "G3";
LOCATE COMP "GBA_A[3]"   SITE "E3";
LOCATE COMP "GBA_A[4]"   SITE "E2";
LOCATE COMP "GBA_A[5]"   SITE "E4";
LOCATE COMP "GBA_A[6]"   SITE "F2";
LOCATE COMP "GBA_A[7]"   SITE "F5";
LOCATE COMP "GBA_nCS2"   SITE "B1";
LOCATE COMP "GBA_nREQ"   SITE "E5";
IOBUF  PORT "GBA_VDD"    IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_CLK"    IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_nWR"    IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_nRD"    IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_nCS"    IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[0]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[1]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[2]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[3]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[4]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[5]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[6]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[7]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[8]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[9]"  IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[10]" IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[11]" IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[12]" IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[13]" IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[14]" IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_AD[15]" IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_A[0]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_A[1]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_A[2]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_A[3]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_A[4]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_A[5]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_A[6]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_A[7]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_nCS2"   IO_TYPE=LVCMOS33;
IOBUF  PORT "GBA_nREQ"   IO_TYPE=LVCMOS33;

LOCATE COMP "sd_cs"    SITE "J5";
LOCATE COMP "sd_sck"   SITE "K3";
LOCATE COMP "sd_mosi"  SITE "L5";
LOCATE COMP "sd_miso"  SITE "N5";
LOCATE COMP "sd_det"   SITE "P5";
IOBUF  PORT "sd_cs"    IO_TYPE=LVCMOS33;
IOBUF  PORT "sd_sck"   IO_TYPE=LVCMOS33;
IOBUF  PORT "sd_mosi"  IO_TYPE=LVCMOS33;
IOBUF  PORT "sd_miso"  IO_TYPE=LVCMOS33;
IOBUF  PORT "sd_det"   IO_TYPE=LVCMOS33;

LOCATE COMP "debug[0]"   SITE "J4";
LOCATE COMP "debug[1]"   SITE "J3";
LOCATE COMP "debug[2]"   SITE "L4";
LOCATE COMP "debug[3]"   SITE "M4";
LOCATE COMP "debug[4]"   SITE "N4";
LOCATE COMP "debug[5]"   SITE "N3";
LOCATE COMP "debug[6]"   SITE "K5";
LOCATE COMP "debug[7]"   SITE "M5";
IOBUF  PORT "debug[0]"    IO_TYPE=LVCMOS33;
IOBUF  PORT "debug[1]"    IO_TYPE=LVCMOS33;
IOBUF  PORT "debug[2]"    IO_TYPE=LVCMOS33;
IOBUF  PORT "debug[3]"    IO_TYPE=LVCMOS33;
IOBUF  PORT "debug[4]"    IO_TYPE=LVCMOS33;
IOBUF  PORT "debug[5]"    IO_TYPE=LVCMOS33;
IOBUF  PORT "debug[6]"    IO_TYPE=LVCMOS33;
IOBUF  PORT "debug[7]"    IO_TYPE=LVCMOS33;